html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

[data-theme="dark"] {
    background-color: #333;
    color: #eee;
}

.main-header {
    font-size: 2em;
    text-align: center;
}

[data-theme="light"] {
    background-color: #eee;
    color: #333;
}
